.caption {
  position: relative;
  padding-top: 40px;
  padding-bottom: 124px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url('../image/hero/stag-office-mockup.jpg');
}

.caption::before {
  content: '';
  position: absolute;
  display: block;
  inset: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(47, 50, 75, 0.85);
  z-index: 1;
}

@media (max-width: 1024px) {
  .caption {
    padding-top: 26px;
    padding-bottom: 70px;
  }
}

@media (max-width: 480px) {
  .caption {
    padding-top: 15px;
    padding-bottom: 64px;
  }
}
