.contact {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('../image/contact/background.jpg');
}

.contact::before {
  content: '';
  position: absolute;
  display: block;
  inset: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(47, 50, 75, 0.85);
  z-index: 1;
}

.contact__container {
  position: relative;
  z-index: 10;
  text-align: center;
}

.contact__title {
  padding-right: 25px;
  margin-bottom: 18px;
}

.contact__description {
  margin-bottom: 48px;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
}

.contact__form {
  margin-bottom: 51px;
}

.contact__wrapper {
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact__input {
  display: block;
  margin-bottom: 19px;
  width: 425px;
  padding: 9px 25px;
  border: 1px solid var(--alt-color);
  border-radius: 50px;
  background-color: transparent;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: rgba(255, 255, 255, 0.5);
}

.contact__input:last-child {
  margin-bottom: 0;
}

.contact__input::placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: rgba(255, 255, 255, 0.5);
}

.contact__agreement {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: var(--alt-color);
}

.contact__link {
  color: #4A76A8;
  border-bottom: #4A76A8 1px solid;
}

.contact__btn {
  padding: 12px 37px;
}

@media (max-width: 1024px) {
  .contact {
    padding-bottom: 55px;
  }

  .contact__title {
    padding-right: 8px;
    margin-bottom: 16px;
  }

  .contact__description {
    margin-bottom: 50px;
    padding-left: 17px;
    font-size: 20px;
    line-height: 23px;
  }

  .contact__agreement {
    font-size: 17px;
    line-height: 20px;
  }

  .contact__form {
    margin-bottom: 31px;
  }

  .contact__wrapper {
    margin-bottom: 48px;
  }

  .contact__input {
    margin-bottom: 16px;
    width: 380px;
    padding: 9px 23px;
    font-size: 20px;
    line-height: 23px;
    color: rgba(255, 255, 255, 0.5);
  }

  .contact__input::placeholder {
    font-size: 20px;
    line-height: 23px;
  }

}

@media (max-width: 480px) {
  .contact {
    padding-top: 30px;
    padding-bottom: 28px;
  }

  .contact__title {
    margin-bottom: 14px;
  }

  .contact__description {
    margin-bottom: 35px;
    font-size: 12px;
    line-height: 14px;
    padding-left: 0;
  }

  .contact__wrapper {
    margin-bottom: 43px;
}

  .contact__form {
    margin-bottom: 32px;
  }

  .contact__input {
    width: 100%;
    margin-bottom: 13px;
    padding: 6px 18px;
  }

  .contact__input::placeholder,
  .contact__input {
    font-size: 14px;
    line-height: 16px;
  }

  .contact__btn {
    padding: 9px 30px;
  }

  .contact__agreement {
    font-size: 11px;
    line-height: 13px;
  }
}
