.hero {
  padding-bottom: 0;
  padding-top: 119px;
  text-align: center;
}

.hero__container {
  position: relative;
  max-width: 1050px;
  z-index: 10;
}

.hero__title {
  margin-bottom: 33px;
  font-style: normal;
  font-weight: 900;
  font-size: 52px;
  line-height: 61px;
  text-align: center;
  color: rgba(255, 255, 255, 0.86);
}

.hero__descript {
  margin-bottom: 88px;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 31px;
  text-align: center;
  color: rgba(255, 255, 255, 0.75);
}

@media (max-width: 1024px) {
  .hero {
    padding-top: 70px;
  }

  .hero__container {
    max-width: 826px;
  }

  .hero__title {
    margin-bottom: 28px;
    font-size: 40px;
    line-height: 47px;
  }

  .hero__descript {
    margin-bottom: 58px;
    font-size: 18px;
    line-height: 25px;
  }

  .hero__btn {
    padding: 12px 49px;
  }
}

@media (max-width: 480px) {
  .hero {
    padding-top: 32px;
  }

  .hero__btn {
    padding: 10px 39px;
  }

  .hero__container {
    max-width: 480px;
  }

  .hero__title {
    margin-bottom: 24px;
    font-size: 20px;
    line-height: 23px;
  }

  .hero__descript {
    margin-bottom: 53px;
    font-size: 14px;
    line-height: 20px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
  }
}
