.logo-block__logo {
  max-width: 68px;
}

.logo-block__phone {
  text-align: center;
  color: var(--alt-color);
}

.logo-block__text {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: var(--alt-color);
}

.logo-block__text_size_small {
  font-size: 16px;
  border-bottom: rgba(255, 255, 255, 0.5) 1px solid;
}

@media (max-width: 1024px) {
  .logo-block__logo {
    max-width: 60px;
  }

  .logo-block__text {
    font-size: 21px;
    line-height: 25px;
  }

  .logo-block__text_size_small {
    font-size: 13px;
    line-height: 15px;
  }
}

@media (max-width: 480px) {
  .logo-block__logo {
    max-width: 30px;
  }

  .logo-block__link_icon::before {
    content: '';
    display: block;
    width: 24px;
    height: 24px;
    background-color: #555A7B;
    border-radius: 50%/50%;
    background-image: url('../image/header/phone.svg');
    background-repeat: no-repeat;
    background-position: center;
  }

  .logo-block__text {
    display: none;
  }

  .logo-block__text_size_small {
    display: none;
  }
}
