.phone {
  text-align: center;
  color: var(--alt-color);
}

.phone__link {
  display: block;
  margin-bottom: 4px;
}

.phone__link:last-child {
  margin-bottom: 0;
}

.phone__number {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: var(--alt-color);
}

.phone__text {
  font-size: 16px;
  border-bottom: rgba(255, 255, 255, 0.5) 1px solid;
  font-style: normal;
  font-weight: 400;
  text-align: center;
  color: var(--alt-color);
}

@media (max-width: 1024px) {
  .phone__link {
    margin-bottom: 2px;
  }

  .phone__number {
    font-size: 21px;
    line-height: 25px;
  }

  .phobe__link {
    margin-bottom: 4px;
  }

  .phone__text {
    font-size: 13px;
    line-height: 15px;
  }
}

@media (max-width: 480px) {
  .phone__icon::before {
    content: '';
    display: block;
    width: 24px;
    height: 24px;
    background-color: #555A7B;
    border-radius: 50%/50%;
    background-image: url('../image/header/phone.svg');
    background-repeat: no-repeat;
    background-position: center;
  }

  .phone__number {
    display: none;
  }

  .phone__text {
    display: none;
  }
}
