.slaiders {
  position: relative;
  overflow: hidden;
}

.slaiders__list {
  display: flex;
  justify-content: space-between;
  gap: 0;
  counter-reset: count 0;
}

.slaiders__item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex: 1 0;
}

.slaiders__content {
  text-align: center;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
}

.slaiders__item::before {
  content: counter(count);
  counter-increment: count;
  width: 122px;
  height: 122px;
  padding-top: 9px;
  margin-bottom: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: normal;
  font-weight: 500;
  font-size: 57px;
  line-height: 100%;
  color: var(--alt-color);
  border-radius: 50%/50%;
  background-color: #23C7EC;
}

@media (max-width: 1024px) {
  .slaiders__container {
    max-width: 930px;
  }

  .slaiders__title {
    margin-bottom: 23px;
  }

  .slaiders__subtitle {
    margin-bottom: 33px;
    font-size: 20px;
    line-height: 23px;
  }

  .slaiders__subtitle::before,
  .slaiders__subtitle::after {
    width: 40px;
  }

  .slaiders__description {
    max-width: 666px;
    font-size: 16px;
    line-height: 23px;
  }

  .slaiders__item {
    font-size: 18px;
    line-height: 25px;
  }

  .slaiders__item::before {
    padding-top: 0;
    margin-bottom: 26px;
    width: 104px;
    height: 104px;
    font-size: 52px;
    line-height: 73px;
    font-size: 52px;
    line-height: 73px;
  }

  .slaiders__content {
    font-size: 18px;
    line-height: 25px;
  }
}

.slaider__labels {
  display: none;
}

@media (max-width: 768px) {
  .slaiders__list {
    flex-wrap: wrap;
    justify-content: center;
  }

  .slaiders__item {
    flex: 1 0 calc(50% - 50px);
  }
}

@media (max-width: 480px) {
  .slaiders {
    width: 100%;
    height: 182px;
  }

  .slaiders__wrapper {
    width: 100%;
    overflow: hidden;
  }

  .slaiders__list {
    width: 400%;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    gap: 0;
    transition: margin-left .5s ease-out
  }

  .slaiders__item {
    flex: 1 0 25%;
  }

  .slaiders__content {
    width: 166px;
  }

  .slaiders__labels {
    display: block;
    height: 50px;
    position: absolute;
    top: 39%;
    width: 100%;
  }

  .slaiders__label {
    position: relative;
    display: none;
    width: 38px;
    height: 38px;
    cursor: pointer;
    border-radius: 50%/50%;
    background-color: var(--alt-color);
    transition: background-color .3s ease-out;
  }

  .slaiders__label:hover,
  .slaiders__label:active {
    background-color: rgba(75, 77, 98, 0.72);
    box-shadow: 4px 4px 25px rgba(0, 210, 248, 0.05);
  }

  .slaiders__label:hover::after,
  .slaiders__label:active::after {
    border-bottom: var(--alt-color) 2px solid;
    border-right: var(--alt-color) 2px solid;
  }

  .slaiders__label::after {
    content: '';
    display: block;
    position: absolute;
    top: 12px;
    right: 16px;
    width: 12px;
    height: 12px;
    border-bottom: #434343 2px solid;
    border-right: #434343 2px solid;
    transform: rotate(-45deg);
    transition: border .3s ease-out;
  }

  .slaiders__radio:nth-child(1):checked~.slaiders__labels .slaiders__label:nth-child(2),
  .slaiders__radio:nth-child(2):checked~.slaiders__labels .slaiders__label:nth-child(3),
  .slaiders__radio:nth-child(3):checked~.slaiders__labels .slaiders__label:nth-child(4),
  .slaiders__radio:nth-child(4):checked~.slaiders__labels .slaiders__label:nth-child(1) {
    display: block;
    float: right;
  }

  .slaiders__radio:nth-child(2):checked~.slaiders__labels .slaiders__label:nth-child(1),
  .slaiders__radio:nth-child(3):checked~.slaiders__labels .slaiders__label:nth-child(2),
  .slaiders__radio:nth-child(4):checked~.slaiders__labels .slaiders__label:nth-child(3),
  .slaiders__radio:nth-child(1):checked~.slaiders__labels .slaiders__label:nth-child(4) {
    display: block;
    float: left;
    transform: rotate(180deg);
  }

  .slaiders__radio:nth-child(1):checked~.slaiders__wrapper .slaiders__list {
    margin-left: 0
  }

  .slaiders__radio:nth-child(2):checked~.slaiders__wrapper .slaiders__list {
    margin-left: -100%
  }

  .slaiders__radio:nth-child(3):checked~.slaiders__wrapper .slaiders__list {
    margin-left: -200%
  }

  .slaiders__radio:nth-child(4):checked~.slaiders__wrapper .slaiders__list {
    margin-left: -300%
  }

}
